<h2 class="page-header">Search Topics</h2>
<form action="/books" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Topic</label>
      <input type="text" name="title" value="<%=searchOptions.title%>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Due After</label>
      <input type="date" name="publishedAfter" value="<%=searchOptions.publishedAfter%>">
    </div>
    <div class="form-item">
      <label>Due Before</label>
      <input type="date" name="publishedBefore" value="<%=searchOptions.publishedBefore%>">
    </div>
  </div>

  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>

<%- include('../partials/bookGrid',{ books: books, large:true })%>
