<header>
  <nav class="header-nav">
    <a class = "header-title" href="/">Discover Outdoors</a>
    <ul>
      <li><a href="/authors">Teachers</a></li>
      <li><a href="/authors/new">Add Teacher</a></li>
      <li><a href="/books">Topics</a></li>
      <li><a href="/books/new">Add Topic</a></li>
    </ul>
  </nav>
</header>
