<header>
  <nav class="header-nav">
    <a class = "header-title" href="/" style="font-family: 'Gotham Rounded'; color: var(--color-text-light); line-height:100px;)">Discover Outdoors</a>
    <a href="https://forms.gle/qu4SVCwdaG6r2Rx57" style="font-family: 'Gotham Rounded'; color: var(--color-text-light); font-size: 20px; text-decoration:none;">&#10140; Website Evaluation Questionaire</a>
    <ul>
      <li><a href="/authors" style="font-family: 'Gotham Rounded'; color: var(--color-text-light); font-size: 20px;">Teachers</a></li>
      <li><a href="/authors/new" style="font-family: 'Gotham Rounded'; color: var(--color-text-light); font-size: 20px;">Add Teacher</a></li>
      <li><a href="/books" style="font-family: 'Gotham Rounded'; color: var(--color-text-light); font-size: 20px;">Topics</a></li>
      <li><a href="/books/new" style="font-family: 'Gotham Rounded'; color: var(--color-text-light); font-size: 20px;">Add Topic</a></li>
      <li><a href="/games" style="font-family: 'Gotham Rounded'; color: var(--color-text-light); font-size: 20px;">Games</a></li>
      <li><a href="/mo" style="font-family: 'Gotham Rounded'; color: var(--color-text-light); font-size: 20px;">Motivations & Objectives</a></li>
      <li><a href="/flow" style="font-family: 'Gotham Rounded'; color: var(--color-text-light); font-size: 20px;">Website Flowchart</a></li>
    </ul>
  </nav>
</header>
