<h2>Introduction:</h2>
<div class="">
The urban renewal case in Xin Zhuang district surprised many FJU students when the government announced it. It’s not because the campus will be torn down but because the small night market located at the back of the campus is included in the renewal plan. For many students, the small night market is not only a place for buying meals but also a place for making friends with those vendors and further creating more stories. In this case, this lesson is designed for junior and senior students in FJU, who have more memories on the campus and are going to graduate soon, to make them reflect on the memories on the campus, especially in the small night market. Moreover, the activities in the lesson plan can help them improve their listening, reading, and writing skills.
</div>
<br>
<div class="">
Target Learners: Junior and senior students in FJU and do not major in English
</div>

<h2>Goals:</h2>
<div class="">
To equip students the ability of reflection and basic English listening, reading, and writing skills related to cherished memories.
</div>

<h2>Objectives: </h2>

<div class="">
1. Defined concept
</div>

<div class="">
During the lesson, students will read several articles and watch the video on the topic of childhood memory and urban renewal. Then, students will be able to tell the different categories in childhood memory, for example, about family or place. Moreover, students will be able to tell the rough concept of urban renewal, and tell the difference between urban renewal and normal construction case.
<br>
</div>
<br>

<div class="">
2. Higher-order rule
</div>

<div class="">
Students will be able to write a short paragraph to convey their thoughts base on the reflection of childhood memory and urban renewal in Xin Zuang district, and further combine it with their own experiences.
<br>
</div>
<br>

<div class="">
3. Cognitive strategy
</div>

<div class="">
Students are expected to be capable of remembering the content of the provided materials, have a deeper critical thinking on it.
<br>
</div>
<br>

<div class="">
4. Comprehension and relating skills
</div>

<div class="">
By seeing the example of urban renewal case in America, students will have a clear idea about why students in FJU are reluctant to the urban renewal case in Xin Zuang district. Moreover, students can combine the concept of childhood memory, and type a short paragraph about their memories in the small night market located at the back of FJU.
<br>
</div>
<br>
<div class="">
5. Knowledge
</div>

<div class="">
Students can understand the existence of urban renewal plan, and the reason why Xin Zuang district is chosen.
<br>
</div>
<br>
