<h2> Hot Potatoes Games</h2>

<a href="/games/bird" style="text-decoration:none; color:hsl(var(--color-base-hue), 100%, 87%); ">A Common Bird on Campus</a><br><br>
<a href="/games/childhood" style="text-decoration:none; color:hsl(var(--color-base-hue), 100%, 87%); ">"My Earliest Memories"</a><br><br>
<a href="/games/fillmore" style="text-decoration:none; color:hsl(var(--color-base-hue), 100%, 87%); ">The Story of Fillmore</a><br><br>
